<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RentalSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>baseServlet</display-name>
    <servlet-name>baseServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.base.baseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baseServlet</servlet-name>
    <url-pattern>/baseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserServlert</display-name>
    <servlet-name>AdminUserServlert</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.AdminUserServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlert</servlet-name>
    <url-pattern>/AdminUserServlert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.xiaowo.rental.web.fiter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductServlet</display-name>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/AdminProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderServlet</display-name>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessorSevlet</display-name>
    <servlet-name>LessorSevlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.LessorSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessorSevlet</servlet-name>
    <url-pattern>/LessorSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.xiaowo.rental.web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminPrivateFiter</display-name>
    <filter-name>AdminPrivateFiter</filter-name>
    <filter-class>cn.xiaowo.rental.web.fiter.AdminPrivateFiter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/AdminPrivateFiter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/category/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/money/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/product/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/bottom.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/left.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminPrivateFiter</filter-name>
    <url-pattern>/admin/top.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LessorPrivateFiter</display-name>
    <filter-name>LessorPrivateFiter</filter-name>
    <filter-class>cn.xiaowo.rental.web.fiter.LessorPrivateFiter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/LessorPrivateFiter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/product/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/bottom.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/left.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LessorPrivateFiter</filter-name>
    <url-pattern>/lessor/top.jsp</url-pattern>
  </filter-mapping>
</web-app>